<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Default Value</key>
			<string>Information</string>
			<key>Title</key>
			<string>Information</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>1.2</string>
			<key>Key</key>
			<string>app_version</string>
			<key>Title</key>
			<string>Version</string>
			<key>Titles</key>
			<array>
				<string></string>
			</array>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>2017030002</string>
			<key>Key</key>
			<string>app_build_number</string>
			<key>Title</key>
			<string>Build Number</string>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
</dict>
</plist>
